<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recepcaoTipoSanguineo">
            <h2><span jhiTranslate="bancoSangueApp.recepcaoTipoSanguineo.detail.title">Recepcao Tipo Sanguineo</span> {{ recepcaoTipoSanguineo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bancoSangueApp.recepcaoTipoSanguineo.podeReceberDe">Pode Receber De</span></dt>
                <dd>
                    <span>{{ recepcaoTipoSanguineo.podeReceberDe }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recepcao-tipo-sanguineo', recepcaoTipoSanguineo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
