<div>
    <h2 id="page-heading">
        <span jhiTranslate="bancoSangueApp.tipoSanguineo.home.title">Tipo Sanguineos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipo-sanguineo" [routerLink]="['/tipo-sanguineo/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="bancoSangueApp.tipoSanguineo.home.createLabel">
            Create a new Tipo Sanguineo
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tipoSanguineos?.length === 0">
        <span jhiTranslate="bancoSangueApp.tipoSanguineo.home.notFound">No tipoSanguineos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tipoSanguineos && tipoSanguineos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="bancoSangueApp.tipoSanguineo.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="doacaoTipoSanguineoId"><span jhiTranslate="bancoSangueApp.tipoSanguineo.doacaoTipoSanguineo">Doacao Tipo Sanguineo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="recepcaoTipoSanguineoId"><span jhiTranslate="bancoSangueApp.tipoSanguineo.recepcaoTipoSanguineo">Recepcao Tipo Sanguineo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let tipoSanguineo of tipoSanguineos ;trackBy: trackId">
                    <td><a [routerLink]="['/tipo-sanguineo', tipoSanguineo.id, 'view']">{{ tipoSanguineo.id }}</a></td>
                    <td>{{ tipoSanguineo.descricao }}</td>
                    <td>
                        <div *ngIf="tipoSanguineo.doacaoTipoSanguineoId">
                            <a [routerLink]="['/doacao-tipo-sanguineo', tipoSanguineo.doacaoTipoSanguineoId , 'view']" >{{ tipoSanguineo.doacaoTipoSanguineoId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="tipoSanguineo.recepcaoTipoSanguineoId">
                            <a [routerLink]="['/recepcao-tipo-sanguineo', tipoSanguineo.recepcaoTipoSanguineoId , 'view']" >{{ tipoSanguineo.recepcaoTipoSanguineoId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tipo-sanguineo', tipoSanguineo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tipo-sanguineo', tipoSanguineo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tipoSanguineo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
