<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoSanguineo">
            <h2><span jhiTranslate="bancoSangueApp.tipoSanguineo.detail.title">Tipo Sanguineo</span> {{ tipoSanguineo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bancoSangueApp.tipoSanguineo.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ tipoSanguineo.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="bancoSangueApp.tipoSanguineo.doacaoTipoSanguineo">Doacao Tipo Sanguineo</span></dt>
                <dd>
                    <div *ngIf="tipoSanguineo.doacaoTipoSanguineoId">
                        <a [routerLink]="['/doacao-tipo-sanguineo', tipoSanguineo.doacaoTipoSanguineoId, 'view']">{{ tipoSanguineo.doacaoTipoSanguineoId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="bancoSangueApp.tipoSanguineo.recepcaoTipoSanguineo">Recepcao Tipo Sanguineo</span></dt>
                <dd>
                    <div *ngIf="tipoSanguineo.recepcaoTipoSanguineoId">
                        <a [routerLink]="['/recepcao-tipo-sanguineo', tipoSanguineo.recepcaoTipoSanguineoId, 'view']">{{ tipoSanguineo.recepcaoTipoSanguineoId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-sanguineo', tipoSanguineo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
