<div>
    <h2 id="page-heading">
        <span jhiTranslate="bancoSangueApp.relatorioQtdCandPorEstado.home.title">Relatório da Qtd. de Cand. por Estados</span>
    </h2>
    <h3 id="page-heading">
    	<span jhiTranslate="">Registros: {{ relatorioQtdCandPorEstados?.length }}</span>    	    
    </h3>
           

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="relatorioQtdCandPorEstados?.length === 0">
        <span jhiTranslate="bancoSangueApp.relatorioQtdCandPorEstado.home.notFound">No relatorioQtdCandPorEstados found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="relatorioQtdCandPorEstados && relatorioQtdCandPorEstados.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                	<th scope="col"  jhiSortBy="estado"><span jhiTranslate="bancoSangueApp.relatorioQtdCandPorEstado.estado">Estado</span> <fa-icon icon="sort"></fa-icon></th>                    
                    <th scope="col"  jhiSortBy="qtde"><span jhiTranslate="bancoSangueApp.relatorioQtdCandPorEstado.qtde">Qtde</span> <fa-icon icon="sort"></fa-icon></th>                    
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let relatorioQtdCandPorEstado of relatorioQtdCandPorEstados ;trackBy: trackId">
                	<td>{{ relatorioQtdCandPorEstado.estado }}</td>                    
                    <td>{{ relatorioQtdCandPorEstado.qtde }}</td>                    
                    <td class="text-right">
                        <div class="btn-group">                        
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
